<!--<app-navbar-component></app-navbar-component>-->
<div class="navbar">
    <div class="logo">
        Multiline Select and Sort
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Application</a></li>
            <li><a href="#">About App</a></li>
        </ul>
    </div>
</div>
<div class="profile-picture">
    <div class="session-timer">
        <div class="circle" #circle></div>
        <div class="circle-timer">
            <div class="circle-image">
                    <img id="user-img" class="rounded-circle" [src]="">
            </div>
            <div class="countdown w-100">
                <p class="caption">Time Remaining:<br/><span *ngIf="minutesUntilTimeout > 0" class="timer">{{ minutesUntilTimeout }}</span><span *ngIf="minutesUntilTimeout > 1"> Minutes</span><span *ngIf="minutesUntilTimeout == 1"> Minute</span><span *ngIf="minutesUntilTimeout < 1">{{ secondsUntilTimeout  }} Seconds</span></p>
            </div>
            <div class="info-box">
                <h4 class="info-header">Session Countdown</h4>
                <p class="info-text">This sessoin will expire in <b>{{ minutesUntilTimeout }}:{{ secondsUntilTimeout }}</b>. Please save your work before that time.</p>
            </div>
        </div>
    </div>
</div>

<!--<app-profile-pic-component></app-profile-pic-component>-->
