<div class="bid-lines-container">
    <div class="bid-lines-header d-flex">
        <div class="d-flex font-size-t8 ms-2">Multiline Select and Sort</div>
    </div>
    <div class="bid-pool-container pb-3" cdkDropListGroup>
        <div class="cast-information-container px-3">
            <div class="row gy-3">
                <div class="col-12 col-lg-4">
                    <div class="font-size-t6">
                        <b>
                            Employee Name
                        </b>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="font-size-t6">
                        William Thatcher
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="font-size-t6">
                        <b>
                            Seniority / Tenure Date
                        </b>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="font-size-t4">
                        12/25/2014<i class="font-size-t2"> (MM/DD/YYYY)</i>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="font-size-t6">
                        <b>
                            Place In Line:
                        </b>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="font-size-t4 d-flex">
                        13 of 64
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="saved-bid-lines-container mx-4 pb-3 mb-4">
            <div class="saved-bid-lines-header d-flex">
                <div class="d-flex font-size-t8 ms-2">Selected And Sorted Lines</div>
                <div class="help-icon font-size-t4 ms-auto me-2" (click)="toggleHelp()">I</div>
                <div class="helper-text-container p-3" id="helper-text" (click)="toggleHelp()">
                    <div class="helper-text">
                        <p class="font-size-t5">How To Use:</p>
                        <ul class="helper-text-list">
                            <li>Click or tap to highlight/unhighlight an individual line in a box.</li>
                            <li>Hold SHIFT and click or tap to highlight multiple lines in a box.</li>
                            <li>Hold CTRL/CMD and click or tap to highlight/unhighlight more individual lines in a box.</li>
                            <li>Use the "Highlight All" button above to highlight all lines in the top box.</li>
                            <li>Use the "Remove Highlighted" button above to remove highlighted lines from the top box.</li>
                            <li>Use "Type Here To Search For Keywords" to search for lines in the bottom box by one or more keywords.</li>
                            <li>Use the "Highlight All Visible" button below to highlight all visible lines in the bottom box.</li>
                            <li>Use the "Add Highlighted" button below to remove highlighted lines from the top box.</li>
                            <li>Drag and drop individual or multiple highlighted lines to and from either box and to rearrange them in the top box.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bid-lines-interactive saved-buttons px-3">
                <div class="line-buttons-container col-12 d-flex justify-content-end flex-sm-row flex-column mb-3">
                        <button (click)="selectAllSavedLines()" class="mb-sm-0 px-3" theme="primary" size="standard" role="button" tabindex="0">Highlight All</button>
                        <button (click)="removeSavedLines()" class="ms-3 px-3" theme="primary" size="standard" role="button" tabindex="0">Remove Highlighted</button>
                </div>
            </div>
            <div 
                class="bid-lines saved-bid-lines mb-1 mx-3"
                id="savedBidLines"
                cdkDropList
                [cdkDropListData]="savedBidLines"
                (cdkDropListDropped)="drop($event, savedBidLines)"
            >
                <div class="empty-pool-text p-5 text-center" *ngIf="savedBidLines.length === 0">
                    <p class="font-size-t4">Add Lines Here.</p>
                    <p>Please select at least one line from below and add it here before submitting.</p>
                </div>
                <div
                    class="bid-line d-flex col-12"
                    *ngFor="let line of savedBidLines
                    let i = index"
                    [class.selected]="line.isSelected"
                    (click)="select(savedBidLines, line, $event, i)"
                    cdkDrag
                >
                    <div class="lines d-flex">{{ line.Pattern }}</div>
                </div>
            </div>
        </div>
        <div class="bid-pool-lines-container m-4 pb-3">
            <div class="bid-pool-lines-header d-flex">
                <div class="d-flex font-size-t8 ms-2">Bid Pool Lines to Select From</div>
            </div>
            <div class="bid-lines-interactive row px-3">
                <div class="bid-pool-search-container col-12 col-lg-6 mb-3">
                    <div class="input bid-pool-search">
                        <input class="w-100" [(ngModel)]="searchTerm" type="text" (ngModelChange)="filterResults()" placeholder="Type Here To Search For Keywords" />
                        <span class="searchClearButton" (click)="clearSearch()">X</span>
                    </div>
                </div>
                <div class="line-buttons-container d-flex justify-content-end col-12 col-lg-6 flex-column flex-sm-row mb-3">
                    <button (click)="selectAllVisibleLines()" class="mb-sm-0 px-3">Highlight All Visible</button>
                    <button (click)="addPoolLinesToSaved()" class="ms-3 px-3">Add Highlighted</button>
                </div>
            </div>
            <div 
                class="bid-lines bid-pool-lines mb-1 mx-3"
                id="bidPoolLines"
                cdkDropList
                [cdkDropListData] ="filteredLines"
                (cdkDropListDropped)="drop($event, filteredLines)"
            >
            <div class="empty-pool-text text-center p-5" *ngIf="filteredLines.length === 0 && searchTerm">
                <p>{{ noSearchResultsText }}</p>
            </div>
            <div class="empty-pool-text text-center p-5" *ngIf="filteredLines.length === 0 && !searchTerm && savedBidLines.length > 0">
                <p>{{ allSavedText }}</p>
            </div>
            <div class="empty-pool-text text-center p-5" *ngIf="filteredLines.length === 0 && !searchTerm && savedBidLines.length === 0">
                <p>{{ emptyPoolText }}</p>
            </div>
                <div
                    class="bid-line"
                    *ngFor="let line of filteredLines;
                    let i = index"
                    [class.selected]="line.isSelected"
                    (click)="select(filteredLines, line, $event, i)"
                    cdkDrag
                >
                    {{ line.Pattern }}
                </div>
            </div>
        </div>
    </div>
</div>
